.englishInput {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
  }
.simple-keyboard {
    width: 1024px;
    margin: 0;
    padding: 0;
}

.simple-keyboard.englishTheme {
    background: transparent;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.simple-keyboard.englishTheme .hg-row:nth-child(1){
    background: blue
}
.simple-keyboard.englishTheme .hg-row:nth-child(2){
    background-color: orange;
    margin-right: 50px;
}
.simple-keyboard.englishTheme .hg-row:nth-child(3){
    background-color: green;
    margin-left: 20px;
}
.simple-keyboard.englishTheme .hg-row:nth-child(4){
    background-color: yellow;
}.simple-keyboard.englishTheme .hg-row:nth-child(5){
     background-color: pink;
}


.simple-keyboard.englishTheme .hg-button {
    height: 50px;
    width: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: white;
}

.simple-keyboard.frenchTheme {
    background: transparent;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.simple-keyboard.frenchTheme .hg-button {
    height: 50px;
    width: 30px;
    border-radius: 25px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: white;
}

.simple-keyboard.hg-layout-default .hg-button.keys{
    background: rgb(35,122,194);
    color: white;
    border-radius: 25px;
    border: none;
}

.simple-keyboard.hg-layout-default .hg-button.space{
    background: rgb(35,122,194);
    margin-top: 20x;
    margin-right: 300px;
    margin-left: 300px;
    color: white;
    border-radius: 25px;
    border: none;
}

/*.numpadWrapper {*/
/*    background: black;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.numPadInput {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px
}

.simple-keyboard.numPadTheme {
    max-width: 200px;
    background-color: white;
    padding: 0;
    margin: 0;
}

.simple-keyboard.numPadTheme .hg-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.simple-keyboard.numPadTheme .hg-row:nth-child(1){
    padding-top: 5px;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.simple-keyboard.numPadTheme .hg-row:nth-child(2){
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 0;
}
.simple-keyboard.numPadTheme .hg-row:nth-child(3){
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.simple-keyboard.numPadTheme .hg-row:nth-child(4){
    background-color: black;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 15px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
 }

.simple-keyboard.numPadTheme .hg-row:nth-child(5){
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin: 0;
}

.simple-keyboard.hg-layout-default .hg-button.numPadEnter{
    background: rgb(255, 157, 0);
    color: black;
    border-radius: 5px;
    border: none;
}

.tryingThis {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.secondTry {
    align-self: center;
}